# EditorConfig helps maintain consistent coding styles
root = true

[*]
# Enforce UTF-8 without BOM
charset = utf-8
indent_size = 4
indent_style = space
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{ts,tsx,js,jsx,cjs,mjs,mts}]
quote_type = single

[*.{json,yml,yaml,html,css,scss}]
quote_type = double

[*.{md,mdx}]
trim_trailing_whitespace = false
max_line_length = 0
