@keyframes highlightBgFadeOut {
  0% {
    background-color: rgba(var(--highlight-bg-color), 0.05);
  }

  20% {
    background-color: rgba(var(--highlight-bg-color), 0.75);
  }

  40% {
    background-color: rgba(255, 255, 255, 0);
  }

  60% {
    background-color: rgba(var(--highlight-bg-color), 0.75);
  }

  80% {
    background-color: rgba(var(--highlight-bg-color), 0.05);
  }

  100% {
    background-color: rgba(255, 255, 255, 0);
  }
}

.highlight-and-fade-out-bg {
  --highlight-bg-color: 248, 224, 174;
  /* Default color */
  animation: highlightBgFadeOut 2s ease;
  animation-iteration-count: 1;
}

.highlight-red {
  --highlight-bg-color: 255, 99, 71;
}

.highlight-green {
  --highlight-bg-color: 144, 238, 144;
}

.highlight-blue {
  --highlight-bg-color: 173, 216, 230;
}
